<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 article-card">
        <h3><%= @article.title %></h3>
        <div class="row">
          <div class="col-md-12">
            <p class="well"><%= @article.text %></p>
          </div>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Comments</h2>
      <%= render @article.comments %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Add a comment:</h3>
      <%= render 'comments/form' %>
    </div>
  </div>

  <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-default' %> |
  <%= link_to 'Back', articles_path, class: 'btn btn-default' %>
</div>
